<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px] hover:scale-110 hover:bg-green-100/10 transition border border-green-700">
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
